# Include servo hardware definition separately to allow for automatic upgrade
[include blobifier_hw.cfg]

##########################################################################################

# Sample config to be used in conjunction with Blobifier Purge Tray, Bucket & Nozzle 
# Scrubber mod. Created by Dendrowen (dendrowen on Discord). The Macro is based on a 
# version, and Nozzle Scrubber is made by Hernsl (hernsl#8860 on Discord). The device is 
# designed around a Voron V2.4 300mm, but should work for 250mm and 350mm too. This 
# version only supports the assembly on the rear-left of the bed. If you decide to change 
# that, please consider contributing to the project by creating a pull request with the 
# needed changes.

# IMPORTANT: The rear-left part of your bed becomes unusable by this mod because the 
#            toolhead needs to lower down to 0. Be sure not to use the left-rear 130x35mm.

# The goals of this combination of devices is to dispose of purged filament during a 
# multicolored print without the need of a purge block and without the flurries of
# filament poops consuming your entire 3D printer room. The Blobifier achieves that by
# purging onto a retractable tray which causes the filament to turn into a tiny blob 
# rather then a large spiral. This keeps the waste relativly small. The bucket should be
# able to account for up to 200 filament swaps (for the 300mm V2).

# Upload this file to your klipper config directory and include it in printer.cfg
# [include mmu/addons/blobifier.cfg]

# It is advised to use the start_gcode from Happy Hare. Then you will be able to fully 
# and efficiently use this mod. Check the Happy Hare document at gcode_preprocessing.md 
# in the Happy Hare github for more details.

###################################### DISCLAIMER ########################################

# You, and you alone, are responsible for the correct execution of these macros and 
# gcodes. Any damage that may occur to your machine remains your responsibility. 
# Especially when executing this macro for the first few times, keep an eye on your 
# printer and the 
# emergency stop.

##########################################################################################

##########################################################################################
# Main macro. Usually you should only need to call this one or place it in the Happy Hare
# _MMU_POST_LOAD macro or variable_user_post_load_extension:
# PURGE_LENGTH=[float] (optional) The length to purge. If ommited it will check the 
#                      purge_volumes matrix or variable_purge_length
# PURGE_RET=[float]    (optional) The length to retract between moves
#
[gcode_macro BLOBIFIER]
# These parameters define your filament purging. The retract variable is used to retract 
# right after purging to prevent unnecessary oozing. Some filament are particularly oozy 
# and may continue to ooze out of the nozzle for a second or two after retracting. Update 
# as necessary.
variable_purge_spd: 400	     # Speed, in mm/min, of the purge.
variable_purge_temp_min: 200	     # Minimum nozzle purge temperature.
variable_retract_before_park: 1.0     # amount in mm. 0 to disable
variable_retract_speed: 2000       # mm/m

# Adjust this so that your nozzle scrubs within the brush. Be careful not to go too low! 
# Start out with a high value (like, 6) and go 
# down from there.
variable_brush_top: 6

# These parameters define your scrubbing, travel speeds, safe z clearance and how many 
# times you want to wipe. Update as necessary.
variable_clearance_z: 2	         # When traveling, but not cleaning, the 
                                           #   clearance along the z-axis between nozzle 
                                           #   and brush.
variable_wipe_qty: 2	         # Number of complete (A complete wipe: left, 
                                           #   right, left OR right, left, right) wipes.
variable_travel_spd_xy: 10000	         # Travel (not cleaning) speed along x and 
                                           #   y-axis in mm/min.
variable_travel_spd_z: 1000	         # Travel (not cleaning) speed along z axis 
                                           #   in mm/min.
variable_wipe_spd_xy: 10000	         # Nozzle wipe speed in mm/min.


# These parameters define the size of the brush. Update as necessary. A visual reference 
# is provided below.
# 
#                  ←   brush_width   →                            
#                   _________________                                                          
#                  |                 |  ↑                Y position is acquired from your 
#  brush_start (x) |                 | brush_depth       stepper_y position_max. Adjust 
#                  |_________________|  ↓                your brush physically in Y so 
#                          (y)                           that the nozzle scrubs within the 
#                      brush_front                       brush.                                              
# __________________________________________________________
#                     PRINTER FRONT
# 
# 
# Start location of the brush. Defaults for 250, 300 and 350mm are provided below. 
# Uncomment as necessary
#variable_brush_start:          34	# For 250mm build    
variable_brush_start: 67  # For 300mm build
#variable_brush_start:          84  # for 350mm build

# width of the brush
variable_brush_width: 35

# Location of where to purge. The tray is 15mm in length, so if you assemble it against 
# the side of the bed (default), 10mm is a good location
variable_purge_x: 10

# Height of the tray. If it's below your bed, give this a negative number equal to the 
# difference. If it's above your bed, give it a positive number. You can find this number 
# by homing, optional QGL or equivalent, and moving you toolhead above the tray, and 
# lowering it with the paper method. 
variable_tray_top: 0.7

# Servo angles for tray positions
variable_tray_angle_out: 0
variable_tray_angle_in: 180

# ========================================================================================
# ==================== BLOB TUNING =======================================================
# ========================================================================================

# The following section defines how the purging sequence is executed. This is where you 
# tune the purging to create pretty blobs. Refer to the visual reference for a better 
# understanding. The visual is populated with example values. Below are some guides 
# provided to help with tuning.
#
#                          \_____________/
#                             |___|___|
#                                \_/            ______________  < End of third iteration.
#                                / \                                  HEIGHT:   3 x iteration_z_raise - (2 + 1) x iteration_z_change  (3 x 5 - 2 x 1.2 = 11.4)
#                               |   |                                 EXTRUDED: 3 x max_iteration_length                              (3 x 50 = 150)
#                              /     \          ______________  < End of second iteration.
#                             |       \                               HEIGHT:   2 x iteration_z_raise - 1 x iteration_z_change        (2 x 5 - 1 x 1.2 = 8.8)
#                            /         |                              EXTRUDED: 2 x max_iteration_length                              (2 x 50 = 100)
#                           |           \       ______________  < End of first iteration. 
#                          /             \                            HEIGHT:   1 x iteration_z_raise                                 (1 x 5 = 5)
#                         |               |                           EXTRUDED: 1 x max_iteration_length                              (1 x 50 = 50)
#___________               \             /      ______________  < Start height of the nozzle. default value: 1.5mm
#           |_______________\___________/_      ______________  < Bottom of the tray
#           |_____________________________|
#           |
# 
########################### BLOB TUNING ##############################
# +-------------------------------------+----------------------------+
# |  Filament sticks to the nozzle at   | Incr. purge start          |
# |    initial purge (first few mm)     |                            |
# +-------------------------------------+----------------------------+
# |  Filament scoots out from under     | Incr. temperature          |
# |  the nozzle at the first iteration  | Decr. iteration_z_raise    |
# |                                     | Incr. max_iteration_length |
# +-------------------------------------+----------------------------+
# |  Filament scoots out from under the | Decr. purge_spd            |
# |  the nozzle at later iterations     | Incr. iteration_z_change   |
# +-------------------------------------+----------------------------+
# |  Filament sticks to the nozzle at   | Decr. iteration_z_change   |
# |         later iterations            |                            |
# +-------------------------------------+----------------------------+
# |        I think my blobs can         | Balsy... Increase          |
# |          be much bigger!            | max_iterations_per_blob    |
# +-------------------------------------+----------------------------+
#

# The height to raise the nozzle above the tray before purging. This allows any built up 
# pressure to escape before the purge.
