## Overriden macro to enable MMU parking command to take place immediately 
## after the filament cut motion
## Overriden macro to enable MMU parking command to take place immediately 
## after the filament cut motion
[gcode_macro _CUT_TIP_DO_CUT_MOTION]
description: Helper to do a single cut movement
gcode:
    {% set pin_park_x_loc = params.PIN_PARK_X_LOC | float %}
    {% set pin_park_y_loc = params.PIN_PARK_Y_LOC | float %}
    {% set vars = printer['gcode_macro _MMU_CUT_TIP_VARS'] %}
    {% set cutting_axis = vars['cutting_axis'] %}

    {% set pin_loc = vars['pin_loc_compressed']|default(-999)|float %}
    {% if pin_loc != -999 %}
        # Old one-dimensional pin_loc_compressed config
        {% if cutting_axis == "x" %}
            {% set pin_loc_compressed_x = pin_loc %}
            {% set pin_loc_compressed_y = pin_park_y_loc %}
        {% else %}
            {% set pin_loc_compressed_x = pin_park_x_loc %}   
            {% set pin_loc_compressed_y = pin_loc %}
        {% endif %}
    {% else %}
        # New config
        {% set pin_loc_compressed_x, pin_loc_compressed_y = vars.pin_loc_compressed_xy|map('float') %}
    {% endif %}
        
    {% set cut_fast_move_fraction = vars['cut_fast_move_fraction']|float %}
    {% set cut_fast_move_speed = vars['cut_fast_move_speed']|float %}
    {% set cut_slow_move_speed = vars['cut_slow_move_speed']|float %}
    {% set cut_dwell_time = vars['cut_dwell_time']|float %}
    {% set evacuate_speed = vars['evacuate_speed']|float %}
    {% set rip_length = vars['rip_length']|float %}
    {% set rip_speed = vars['rip_speed']|float %}


    {% set fast_slow_transition_loc_x = (pin_loc_compressed_x - pin_park_x_loc) * cut_fast_move_fraction + pin_park_x_loc|float %}
    {% set fast_slow_transition_loc_y = (pin_loc_compressed_y - pin_park_y_loc) * cut_fast_move_fraction + pin_park_y_loc|float %}
    G1 X{fast_slow_transition_loc_x} Y{fast_slow_transition_loc_y} F{cut_fast_move_speed * 60} # Fast move to initiate contact of the blade with filament
    G1 X{pin_loc_compressed_x} Y{pin_loc_compressed_y} F{cut_slow_move_speed * 60} # Do the cut in slow move

    M400 # IG Changes
    G4 P{cut_dwell_time}
    M400 # IG Changes
    
    {% if rip_length > 0 %}
        G1 E-{rip_length} F{rip_speed * 60}
    {% endif %}

    G1 X{pin_park_x_loc} Y{pin_park_y_loc} F{evacuate_speed * 60} # Evacuate    

    # IG Changes
    # wait for cut move to complete and then move immediately to park position and restore print current
    _MMU_PARK FORCE_PARK=1 X=35 Y=357 Z_HOP=0
    _SET_PRINT_CURRENT


## Custom macro setting print current to a lower value than the configured value
## used via a delayed gcode when initializing the printer as well as after the filament 
## cut motion
[gcode_macro _SET_PRINT_CURRENT]
gcode:  
    M400
    SAVE_GCODE_STATE NAME=SET_PRINT_CURRENT_STATE
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=1.3 HOLDCURRENT=1.3
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=1.3 HOLDCURRENT=1.3
    M400
    G4 P1500
    M400
    RESTORE_GCODE_STATE NAME=SET_PRINT_CURRENT_STATE
    M400

## Custom macro setting the stepper current to a higher value to avoid skipping microsteps
## when cutting filament. Called by Happy Hare.
[gcode_macro _SET_CUT_CURRENT]
gcode:
    M400
    SAVE_GCODE_STATE NAME=SET_CUT_CURRENT_STATE_2
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=1.3 HOLDCURRENT=1.3
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=1.3 HOLDCURRENT=1.3
    M400
    G4 P1500
    M400
    RESTORE_GCODE_STATE NAME=SET_CUT_CURRENT_STATE_2
    M400

[gcode_macro PARK]
gcode:
  {% set restore = params.RESTORE|default("0")|int %}
  {% set x = params.X|default("175")|float %}
  {% set y = params.Y|default("175")|float %}
  {% set f = params.F|default("27000")|int %} #27000
  
  {% if restore == 1 %}
    # Move to coordinates given by HH as we are restoring position
    G1 X{x} Y{y} F{f}
  
  {% elif ((printer.gcode_move.gcode_position.x - 35)|abs > 0.05)
        or ((printer.gcode_move.gcode_position.y - 357)|abs > 0.05) %}
    # Perform custom park move to the nozzle stop
    M400
    SAVE_GCODE_STATE NAME=SET_PARK_STATE
    
    {% if (printer.gcode_move.gcode_position.y > 300) and (printer.gcode_move.gcode_position.x > 10) %}
      G1 Y300 F{f} #Move infront of the end of the nozzle wiper
    {% endif %}

    G1 X10 Y300 F{f}   #Move to the start of the nozzle wiper       
    G1 X10 Y357 F{f}   #Move to the right Y position aligning with the nozzle wiper
    G1 X35 Y357 F{f}   #Move on the nozzle stop
    M400
    RESTORE_GCODE_STATE NAME=SET_PARK_STATE
    M400
  {% endif %}


[gcode_macro _IG_PRE_LOAD_MACRO]
gcode:
    BLOBIFIER_PARK

[gcode_macro _IG_PRE_UNLOAD_MACRO]
gcode:
    _SET_CUT_CURRENT


## Custom macro to clean the nozzle on the gantry mounted brush after a toolchange
## Invoked by Happy Hare.
[gcode_macro PARK_PURGE_CLEAN]
gcode:
    # If already close to the park location, dont park.
    {% set x = printer.gcode_move.gcode_position.x %}
    {% set y = printer.gcode_move.gcode_position.y %}

    {% if (x > 35 or y < 350) %}
      PARK
    {% endif %}

    # Run the blobifier macro to purge material
    M400
    BLOBIFIER
    G1 X35 Y357 F18000
    M400
    G90
    
    # Clean nozzle
    G1 X42 F18000
    G1 X75 F18000
    G1 X42 F18000
    G1 X75 Y356 F18000
    G1 X42 F18000
    G1 X105 F18000

    # Move away from brush
    G1 Y310 F18000


## Custom macro to purge and clean the nozzle at print start
## Disables end guard explicitly. 
[gcode_macro PARK_PURGE_CLEAN_PRINT_START]
gcode:
    # If already close to the park location, dont park.
    {% set x = printer.gcode_move.gcode_position.x %}
    {% set y = printer.gcode_move.gcode_position.y %}

    {% if (x > 35 or y < 350) %}
      PARK
    {% endif %}

    # Run the blobifier macro to purge material
    M400
    MMU_DISABLE_ENDGUARD
    BLOBIFIER
    G1 X35 Y357 F18000
    M400
    G90
    
    # Clean nozzle
    G1 X42 F18000
    G1 X75 F18000
    G1 X42 F18000
    G1 X75 Y356 F18000
    G1 X42 F18000
    G1 X105 F18000

    MMU_ENABLE_ENDGUARD

    # Move away from brush
    G1 Y310 F18000


[gcode_macro CLEAN_NOZZLE]
gcode:
    PARK
    M400
    G90
    
    # Clean nozzle
    G1 X42 F18000
    G1 X75 F18000
    G1 X42 F18000
    G1 X75 F18000
    G1 X42 F18000
    G1 X75 Y356 F18000
    G1 X42 F18000
    G1 X75 F18000
    G1 X42 F18000
    G1 X75 F18000
    G1 X42 F18000
    G1 X105 F18000

    # Move away from brush
    G1 Y310 F18000


## Issue push notifications macro from Happy Hare when a print state changes
[gcode_macro _IG_MMU_PRINT_STATE_CHANGED_NOTIFICATIONS]
description: Called when print state changes to raise notifications
gcode:
    {% set state = params.STATE|string %}
    {% set old_state = params.OLD_STATE|string %}
    {% set gate = printer['mmu']['gate'] %}
    
    {% if not old_state == state %}
        {% if state == "pause_locked" %}
            MR_NOTIFY TITLE="MMU ERROR" MESSAGE="Pause locked - error occured"
        {% elif state == "paused" %}
            MR_NOTIFY TITLE="MMU" MESSAGE="Print paused"
        {% elif state == "error" %}
            MR_NOTIFY TITLE="MMU ERROR" MESSAGE="Some error occured"
        {% endif %}
    {% endif %}

[gcode_macro REFRESH_SPOOLMAN]
description: Refresh tool mapping from spoolman
gcode:
    MMU_SPOOLMAN REFRESH=1 SYNC=1

[gcode_macro MMU_LED_OFF]
description: Turn off MMU LEDs
gcode:
    mmu_led enable=0

[gcode_macro MMU_LED_ON]
description: Turn on MMU LEDs
gcode:
    mmu_led enable=1



