## Overriden macro to enable MMU parking command to take place immediately 
## after the filament cut motion
[gcode_macro _FILAMETRIX_DO_CUT_MOTION]
description: Helper to do a single cut movement
gcode:
    {% set pin_park_x_loc = params.PIN_PARK_X_LOC | float %}
    {% set pin_park_y_loc = params.PIN_PARK_Y_LOC | float %}
    {% set vars = printer['gcode_macro _MMU_CUT_TIP_VARS'] %}

    {% set pin_loc_compressed = vars['pin_loc_compressed']|float %}
    {% set cut_fast_move_fraction = vars['cut_fast_move_fraction']|float %}
    {% set cut_fast_move_speed = vars['cut_fast_move_speed']|float %}
    {% set cut_slow_move_speed = vars['cut_slow_move_speed']|float %}
    {% set cut_dwell_time = vars['cut_dwell_time']|float %}
    {% set evacuate_speed = vars['evacuate_speed']|float %}
    {% set rip_length = vars['rip_length']|float %}
    {% set rip_speed = vars['rip_speed']|float %}
    {% set cutting_axis = vars['cutting_axis']|string %}

    {% if cutting_axis == "x" %}
        {% set fast_slow_transition_loc = (pin_loc_compressed - pin_park_x_loc) * cut_fast_move_fraction + pin_park_x_loc|float %}
        G1 X{fast_slow_transition_loc} F{cut_fast_move_speed * 60} # Fast move to initiate contact of the blade with filament
        G1 X{pin_loc_compressed} F{cut_slow_move_speed * 60} # Do the cut in slow move
    {% else %}
        {% set fast_slow_transition_loc = (pin_loc_compressed - pin_park_y_loc) * cut_fast_move_fraction + pin_park_y_loc|float %}
        G1 Y{fast_slow_transition_loc} F{cut_fast_move_speed * 60} # Fast move to initiate contact of the blade with filament
        G1 Y{pin_loc_compressed} F{cut_slow_move_speed * 60} # Do the cut in slow move
    {% endif %}
    
    M400 # IG Additions
    
    G4 P{cut_dwell_time}
    
    M400 # IG Additions
    
    {% if rip_length > 0 %}
        G1 E-{rip_length} F{rip_speed * 60}
    {% endif %}

    {% if cutting_axis == "x" %}
        G1 X{pin_park_x_loc} F{evacuate_speed * 60} # Evacuate
    {% else %}
        G1 Y{pin_park_y_loc} F{evacuate_speed * 60}
    {% endif %}
    
    # IG Additions
    # wait for cut move to complete and then move immediately to park position.
    M400
    _MMU_PARK FORCE_PARK=1 X=29 Y=355.5 Z_HOP=0
    _SET_PRINT_CURRENT
    M400
    

## Custom macro to to pre-load buffers with filament before the print starts
[gcode_macro PRELOAD_BUFFERS]
gcode:
  {% set REFERENCED_TOOLS = params.REFERENCED_TOOLS|default("")|string %}
  {% set tools = REFERENCED_TOOLS.split(",") %}

  # Move to XYZ parking spot
  G90
  G1 X325 Y350 Z40 F9000
  M400
  {% if tools|length > 1 %}
    #M106 S255   # Turns on part cooling fan
    #M104 S200  # Heats the nozzle to toolhead loading temperature
    #TEMPERATURE_WAIT SENSOR=extruder minimum=185
    M118 Preloading buffers
    M400
    {% for tool in tools %}
      {% set gate_status = printer.mmu.gate_status[tool|int] %}
    
      {% if gate_status == 1 or gate_status == -1 %}
        # Load filament into the toolhead
        M118 Preloading buffer for tool { tool }.
        M400
        MMU_SELECT TOOL={tool}
        _MMU_STEP_LOAD_GATE
        _MMU_STEP_LOAD_BOWDEN
        MMU_UNLOAD
        M400
      {% endif %}
    {% endfor %}
    #M104 S100 # Drops nozzle to 100c
    #M106 S0   # Turns off partcooling fan
    M400
  {% else %}
    # if only one tool is used dont pre-load the buffer as it will be loaded at the start of the print anyway.
    M400
    M118 Only one tool used. Skipping buffer preloading.
  {% endif %}


## Custom macro setting print current to a lower value than the configured value
## used via a delayed gcode when initializing the printer as well as after the filament 
## cut motion
[gcode_macro _SET_PRINT_CURRENT]
gcode:  
    M400
    SAVE_GCODE_STATE NAME=SET_PRINT_CURRENT_STATE
    M400
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=1.4 HOLDCURRENT=1.4
    M400
    G4 P1000
    M400
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=1.4 HOLDCURRENT=1.4
    M400
    G4 P1000
    M400
    RESTORE_GCODE_STATE NAME=SET_PRINT_CURRENT_STATE
    M400

## Custom macro setting the stepper current to a higher value to avoid skipping microsteps
## when cutting filament. Called by Happy Hare.
[gcode_macro _SET_CUT_CURRENT]
gcode:
    M400
    SAVE_GCODE_STATE NAME=SET_CUT_CURRENT_STATE_2
    M400
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=1.8 HOLDCURRENT=1.8
    M400
    G4 P1000
    M400
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=1.8 HOLDCURRENT=1.8
    M400
    G4 P1000
    M400
    RESTORE_GCODE_STATE NAME=SET_CUT_CURRENT_STATE_2
    M400

[gcode_macro _IG_CUSTOM_PARK_MOVE]
gcode:
    M400
    SAVE_GCODE_STATE NAME=SET_CUT_CURRENT_STATE_1
    {% if (printer.gcode_move.gcode_position.y > 315) and (printer.gcode_move.gcode_position.x > 10) %}
      G1 Y315 F21000 #Move infront of the end of the nozzle wiper
    {% endif %}
    
    {% if (printer.gcode_move.gcode_position.x > 10) %}
      G1 X5 Y315 F21000   #Move to the start of the nozzle wiper       
    {% endif %}

    G1 X5 Y355.5 F21000   #Move to the right Y position aligning with the nozzle wiper
    G1 X29 Y355.5 F21000   #Move on the nozzle stop
    M400
    RESTORE_GCODE_STATE NAME=SET_CUT_CURRENT_STATE_1
    M400

## Custom macro to clean the nozzle on the gantry mounted brush after a toolchange
## Invoked by Happy Hare.
[gcode_macro _CLEAN_NOZZLE_GANTRY]
gcode:
    M400
    SAVE_GCODE_STATE NAME=clean_nozzle_gantry
    G90
    G1 Y355.5 F18000
    G1 X34 F18000
    G1 X80 F18000
    G1 X34 F18000
    G1 X90 F18000
    G1 Y310 F18000
    RESTORE_GCODE_STATE NAME=clean_nozzle_gantry
    M400

## Issue push notifications macro from Happy Hare when a print state changes
[gcode_macro _IG_MMU_PRINT_STATE_CHANGED_NOTIFICATIONS]
description: Called when print state changes to raise notifications
gcode:
    {% set state = params.STATE|string %}
    {% set old_state = params.OLD_STATE|string %}
    {% set gate = printer['mmu']['gate'] %}
    
    {% if not old_state == state %}
        {% if state == "pause_locked" %}
            MR_NOTIFY TITLE="MMU ERROR" MESSAGE="Pause locked - error occured"
        {% elif state == "paused" %}
            MR_NOTIFY TITLE="MMU" MESSAGE="Print paused"
        {% elif state == "error" %}
            MR_NOTIFY TITLE="MMU ERROR" MESSAGE="Some error occured"
        {% endif %}
    {% endif %}

[gcode_macro REFRESH_SPOOLMAN]
description: Refresh tool mapping from spoolman
gcode:
    MMU_SPOOLMAN REFRESH=1 SYNC=1


[gcode_macro _IG_MMU_SET_GATE_STATUS_LED]
description: Called to set LEDs at the MMU exit gates
gcode:
    {% set gate_status = printer['mmu']['gate_status'] %}
    {% set num_gates = 8 %}

    {% for i in range(num_gates) %}
        {% set index = num_gates - i %}
        {% set transmit = 1 if i == (num_gates - 1) else 0 %}

        {% if gate_status[i] == -1 %} # Gate unknown status (Amber)
              SET_LED LED="mmu_leds" INDEX={index} RED=0.3804 GREEN=0.2983 BLUE=0.0 SYNC=0 TRANSMIT={transmit}
        {% elif gate_status[i] == 1 %} # Gate loaded from spool (White)
              SET_LED LED="mmu_leds" INDEX={index} RED=0.3804 GREEN=0.3804 BLUE=0.3804 SYNC=0 TRANSMIT={transmit}
        {% elif gate_status[i] == 2 %} # Gate loaded from buffer (Green)
              SET_LED LED="mmu_leds" INDEX={index} RED=0.0 GREEN=0.3804 BLUE=0.018 SYNC=0 TRANSMIT={transmit}
        {% else %} # Gate empty (Red)
              SET_LED LED="mmu_leds" INDEX={index} RED=0.15 GREEN=0 BLUE=0 SYNC=0 TRANSMIT={transmit}
        {% endif %}
    {% endfor %}




    