## Overriden macro to enable MMU parking command to take place immediately 
## after the filament cut motion

[gcode_macro _FILAMETRIX_DO_CUT_MOTION]
description: Helper to do a single horizontal cut movement
gcode:
    {% set pin_park_x_loc = params.PIN_PARK_X_LOC | float %}
    {% set vars = printer['gcode_macro _MMU_CUT_TIP_VARS'] %}

    {% set pin_loc_x_compressed = vars['pin_loc_x_compressed']|float %}
    {% set cut_fast_move_fraction = vars['cut_fast_move_fraction']|float %}
    {% set cut_fast_move_speed = vars['cut_fast_move_speed']|float %}
    {% set cut_slow_move_speed = vars['cut_slow_move_speed']|float %}
    {% set cut_dwell_time = vars['cut_dwell_time']|float %}
    {% set evacuate_speed = vars['evacuate_speed']|float %}
    {% set rip_length = vars['rip_length']|float %}
    {% set rip_speed = vars['rip_speed']|float %}
    {% set fast_slow_transition_loc = (pin_loc_x_compressed - pin_park_x_loc) * cut_fast_move_fraction + pin_park_x_loc|float %}

    G1 X{fast_slow_transition_loc} F{cut_fast_move_speed * 60} # Fast move to initiate contact of the blade with filament
    G1 X{pin_loc_x_compressed} F{cut_slow_move_speed * 60} # Do the cut in slow move
    G4 P{cut_dwell_time}
    {% if rip_length > 0 %}
        G1 E-{rip_length} F{rip_speed * 60}
    {% endif %}
    G1 X{pin_park_x_loc} F{evacuate_speed * 60} # Evacuate
    
    # IG Additions
    # wait for cut move to complete and then move immediately to park position.
    M400
    _mmu_park
    M400


## Custom macro to to pre-load buffers with filament before the print starts
[gcode_macro PRELOAD_BUFFERS]
gcode:
  {% set REFERENCED_TOOLS = params.REFERENCED_TOOLS|default("")|string %}
  {% set tools = REFERENCED_TOOLS.split(",") %}

  # Move to XYZ parking spot
  G90
  G1 X325 Y300 Z30 F9000
  M400
  {% if tools|length > 1 %}
    M106 S255   # Turns on part cooling fan
    M104 S200  # Heats the nozzle to toolhead loading temperature
    TEMPERATURE_WAIT SENSOR=extruder minimum=185

    M118 Preloading buffers
    {% for tool in tools %}
      {% set gate_status = printer.mmu.gate_status[tool|int] %}
    
      {% if gate_status == 1 or gate_status == -1 %}
        G1 X10 F9000
        M400
        # Load filament into the toolhead
        M118 Preloading buffer for tool { tool }.
        T{tool}    # Select tool
        M400
        MMU_EJECT
        M400
        # wipe nozzle in gantry mounted wiper
        G1 X90 F9000
        G1 Y300 F9000
        M400
      {% endif %}
    {% endfor %}
    M104 S100 # Drops nozzle to 100c
    M106 S0   # Turns off partcooling fan
    M400
  {% else %}
    # if only one tool is used dont pre-load the buffer as it will be loaded at the start of the print anyway.
    M400
    M118 Only one tool used. Skipping buffer preloading.
  {% endif %}


## Custom macro setting print current to a lower value than the configured value
## used via a delayed gcode when initializing the printer as well as after the filament 
## cut motion
[gcode_macro _SET_PRINT_CURRENT]
gcode:  
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=1.4 HOLDCURRENT=1.4
    G4 P500
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=1.4 HOLDCURRENT=1.4
    G4 P1000

## Custom macro setting the stepper current to a higher value to avoid skipping microsteps
## when cutting filament. Called by Happy Hare.
[gcode_macro _SET_CUT_CURRENT]
gcode:
    SAVE_GCODE_STATE NAME=SET_CUT_CURRENT_STATE_1
    {% if (printer.gcode_move.gcode_position.y > 315) %}
      G1 Y315 F18000 #Move infront of the end of the nozzle wiper
    {% endif %}
    G1 X5 Y315 F18000   #Move to the start of the nozzle wiper 
    G1 X5 Y356 F18000   #Move to the right Y position aligning with the nozzle wiper
    RESTORE_GCODE_STATE NAME=SET_CUT_CURRENT_STATE_1
    SAVE_GCODE_STATE NAME=SET_CUT_CURRENT_STATE_2
    _MMU_PARK
    M400
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=1.7 HOLDCURRENT=1.7
    G4 P500
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=1.7 HOLDCURRENT=1.7
    G4 P1000
    RESTORE_GCODE_STATE NAME=SET_CUT_CURRENT_STATE_2

## Happy Hare macro wrappers to invoke in the UI
[gcode_macro MMU_MOVE_FILAMENT]
gcode:
    {% set move = params.MOVE|default(0)|int %}
    MMU_TEST_MOVE MOVE={move}

[gcode_macro MMU_RETRY]
gcode:
    {% set tool = params.TOOL|default(0)|int %}
    MMU_RECOVER
    T{tool}

## Custom macro to clean the nozzle on the gantry mounted brush after a toolchange
## Invoked by Happy Hare.
[gcode_macro _CLEAN_NOZZLE_GANTRY]
gcode:
    SAVE_GCODE_STATE NAME=clean_nozzle_gantry
    G90
    G1 Y356 F18000
    G1 X34 F18000
    G1 X80 F18000
    G1 X34 F18000
    G1 X90 F18000
    G1 Y310 F18000
    RESTORE_GCODE_STATE NAME=clean_nozzle_gantry

## Issue push notifications macro from Happy Hare when a print state changes
[gcode_macro _IG_MMU_PRINT_STATE_CHANGED_NOTIFICATIONS]
description: Called when print state changes to raise notifications
gcode:
    {% set state = params.STATE|string %}
    {% set old_state = params.OLD_STATE|string %}
    {% set gate = printer['mmu']['gate'] %}
    
    {% if not old_state == state %}
        {% if state == "printing" %}
            MR_NOTIFY TITLE="MMU" MESSAGE="Printing"
        {% elif state == "pause_locked" %}
            MR_NOTIFY TITLE="MMU ERROR" MESSAGE="Pause locked - error occured"
        {% elif state == "paused" %}
            MR_NOTIFY TITLE="MMU" MESSAGE="Print paused"
        {% elif state == "error" %}
            MR_NOTIFY TITLE="MMU ERROR" MESSAGE="Some error occured"
        {% endif %}
    {% endif %}


[gcode_macro _IG_MMU_LED_STATUS]
description: Called when print state changes
variable_led_index: -1

gcode:


## Set LEDs at the MMU exit gates
[gcode_macro _IG_MMU_SET_LED]
description: Called to set LEDs at the MMU exit gates
gcode:
    {% set state = params.STATE|string %}
    {% set old_state = params.OLD_STATE|string %}
    {% set gate = printer['mmu']['gate'] %}
    {% set current_gate= printer["gcode_macro _IG_MMU_LED_STATUS"].led_index %}

    {% if gate == -1 AND (NOT current_gate == gate)%}
      SET_LED LED="mmu_leds" RED=0 GREEN=0 BLUE=0 SYNC=0 TRANSMIT=1
      SET_GCODE_VARIABLE MACRO=_IG_MMU_LED_STATUS VARIABLE=led_index VALUE={ gate }
    {% elif (NOT current_gate == gate) %} 
      SET_LED LED="mmu_leds" RED=0 GREEN=0 BLUE=0 SYNC=0 TRANSMIT=1
      SET_LED LED="mmu_leds" INDEX={8 - gate} RED=0.3804 GREEN=0.3804 BLUE=0.3804 SYNC=0 TRANSMIT=1
      SET_GCODE_VARIABLE MACRO=_IG_MMU_LED_STATUS VARIABLE=led_index VALUE={ gate }
    {% endif %}
    