#####################################################################
#   Custom LED control macros
#   Contains the below macros:
#   NOZZLE_LED_ON
#   NOZZLE_LED_OFF
#   LED_ON (controlls all printer lighting)
#   LED_OFF (controlls all printer lighting)
#####################################################################

[gcode_macro NOZZLE_LED_ON]
gcode:
    SET_NOZZLE_LEDS_ON

[gcode_macro NOZZLE_LED_OFF]
gcode:
    SET_NOZZLE_LEDS_OFF

[gcode_macro LED_ON]
gcode:
    CHAMBER_LED_ON
    SET_NOZZLE_LEDS_ON

[gcode_macro LED_MID]
gcode:
    CHAMBER_LED_LOW
    SET_NOZZLE_LEDS_OFF

[gcode_macro LED_OFF]
gcode:
    CHAMBER_LED_OFF
    SET_NOZZLE_LEDS_OFF