##### Homing macros ###################################################

#conditional homing
[gcode_macro _CG28]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}


##### Helper macros ###################################################

[gcode_macro CHANGE_NOZZLE]
gcode:
  M400
  M117 Homing
  _CG28
  M400
  M117 Parking for nozzle change
  G1 X175 Y30 Z150 F12000



##### Stepper control #################################################

[gcode_macro DISABLE_STEPPERS]
gcode:  
    M84

[gcode_macro DISABLE_XY]
gcode:
  SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=0
  SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=0

[gcode_macro OFF]
gcode:
    M84                                  ; turn steppers off
    M107                                 ; turn print cooling fan off
    SET_LED LED=disco1 RED=0.1 GREEN=0.1 BLUE=0.1