#####################################################################
#   Helper macros used in the print process
#####################################################################

[pause_resume]

[gcode_macro M600]
gcode:
    PAUSE

[gcode_macro HEATSOAK]
gcode:
  SET_DISPLAY_TEXT MSG="Heatsoaking..."  
  cancel_adaptive_exhaust
  SET_LED LED=disco1 RED=0.8 GREEN=0.35 BLUE=0
  STATUS_HEATING                                    
  M106 S255   # Turns on partcooling fan
  SET_FAN_SPEED FAN=nevermore_fan SPEED=1.0
  SET_FAN_SPEED FAN=exhaust_fan SPEED=0.5
  M140 S110   # Sets the target temp for the bed
  G28
  G1 X175 Y175 Z100 F9000  # Goes to parking area
  M84
  SET_IDLE_TIMEOUT TIMEOUT=86400


[gcode_macro CANCEL_PRINT]
rename_existing: _CANCEL_PRINT_OLD
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 10, th.axis_maximum.z]|min %}
    
    # Dim lights
    SET_LED LED=disco1 RED=0.2 GREEN=0.2 BLUE=0.2
    set_nozzle_leds_off

    # Restore velocity limits
    SET_VELOCITY_LIMIT ACCEL={printer.configfile.settings.printer.max_accel|int}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={printer.configfile.settings.printer.square_corner_velocity|float}
    SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity|int}

    # Turn off heaters and adaptive exhaust and nevermore
    TURN_OFF_HEATERS
    cancel_adaptive_exhaust
    cancel_nevermore

    # Move nozzle off the printed part
    M400                           ; wait for buffer to clear
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing

    # Eject filament from the MMU
    MMU_EJECT

    # Park toolhead
    G0 X200 Y320 F7200   ; park nozzle at the rear for easy cleaning
    {% if z_safe < 120 %}       ; check if current Z is below 100mm
      G1 Z120 F900                                                                     ; raise Z up by z hop amount0
    {% endif %}
    
    # Reset gcode offset
    SET_GCODE_OFFSET Z=0
    
    # Turn off part cooling fan
    M107                                     ; turn off fan

    # Clear display messages
    M117
    M400
    
    # Clear bed mesh
    BED_MESH_CLEAR

    # Turn everything off
    OFF
    M400
    SET_DISPLAY_TEXT MSG="JOB cancelled"          # Displays info
    status_off
    
    # Reset internal state if needed
    CLEAR_PAUSE
    SDCARD_RESET_FILE
