########################################################################################################################
# Happy Hare main configuration parameters for the klipper module
#
# EDIT THIS FILE BASED ON YOUR SETUP
#
# Note that macro configuration is specifed separately in 'mmu_macro_vars.cfg'.
