########################################################################################################################
# Happy Hare main configuration parameters for the klipper module
#
# EDIT THIS FILE BASED ON YOUR SETUP
#
# Note that macro configuration is specifed separately in 'mmu_macro_vars.cfg'.
# Full details in https://github.com/moggieuk/Happy-Hare/tree/main/doc/configuration.md
#
