# ┌──────────────────────────────┐
# │ ███╗   ███╗ ██████╗██╗   ██╗ │
# │ ████╗ ████║██╔════╝██║   ██║ │
# │ ██╔████╔██║██║     ██║   ██║ │
# │ ██║╚██╔╝██║██║     ██║   ██║ │
# │ ██║ ╚═╝ ██║╚██████╗╚██████╔╝ │
# │ ╚═╝     ╚═╝ ╚═════╝ ╚═════╝  │
# └──────────────────────────────┘
#
# One CAN MCU per lane
#
[mcu lane0]
canbus_uuid: cc8f39d714ce 
canbus_interface: can0

[mcu lane1]
canbus_uuid: c2357f5873d7 
canbus_interface: can0

[mcu lane2]
canbus_uuid: 31fb8c95fbfd 
canbus_interface: can0

[mcu lane3]
canbus_uuid: 8579c5130649 
canbus_interface: can0

[mcu lane4]
canbus_uuid: 7d42f7c43687
canbus_interface: can0

[mcu lane5]
canbus_uuid: 3efbe46e5d5f
canbus_interface: can0

[mcu lane6]
canbus_uuid: f050daaa5448 
canbus_interface: can0

[mcu lane7]
canbus_uuid: 49abda4839e6
canbus_interface: can0

# Pin aliases shared by all (identical) lane boards.
[board_pins lane]
mcu: lane0, lane1, lane2, lane3, lane4, lane5, lane6, lane7
aliases:
    MMU_GEAR_UART=PA15,
    MMU_GEAR_STEP=PD0,
    MMU_GEAR_DIR=PD1,
    MMU_GEAR_ENABLE=PD2,
    MMU_GEAR_DIAG=,

    MMU_NEOPIXEL=PD3,
    MMU_NEOPIXEL_LOGO=,

    MMU_PRE_GATE=PB7,
    MMU_POST_GEAR=PB5,

    MMU_TENSION=PB8,
    MMU_COMPRESSION=PB9,

    MMU_TH=PA3,
    MMU_FAN=PA0,
    EJECT_BUTTON=PB6,

# ┌────────────────────────────────────────────────────────────────────┐
# │ ███╗   ███╗███╗   ███╗██╗   ██╗    ██╗   ██╗███╗   ██╗██╗████████╗ │
# │ ████╗ ████║████╗ ████║██║   ██║    ██║   ██║████╗  ██║██║╚══██╔══╝ │
# │ ██╔████╔██║██╔████╔██║██║   ██║    ██║   ██║██╔██╗ ██║██║   ██║    │
# │ ██║╚██╔╝██║██║╚██╔╝██║██║   ██║    ██║   ██║██║╚██╗██║██║   ██║    │
# │ ██║ ╚═╝ ██║██║ ╚═╝ ██║╚██████╔╝    ╚██████╔╝██║ ╚████║██║   ██║    │
# │ ╚═╝     ╚═╝╚═╝     ╚═╝ ╚═════╝      ╚═════╝ ╚═╝  ╚═══╝╚═╝   ╚═╝    │
# └────────────────────────────────────────────────────────────────────┘
#
# MMU UNIT: A mmu_unit is a physical MMU. It describes the type, characteristics and capabilities (often defined by
# vendor). The name of the unit is used to locate other components including it's toolhead steppers, optional encoder
# and espooler. You should create a [mmu_unit XXX] section for every MMU connected to this printer. The XXX name
# should appear in the 'units' on the [mmu_machine] and be used in the stepper definitions and accessary names.
#
[mmu_unit unit0]
num_gates: 8				# Number of gates/lanes *this* mmu_unit
vendor:  EMU    			# MMU family
version: 1.0				# MMU hardware version number

display_name:  unit0   			# Display name of mmu_unit in UI's. Defaults to the vendor name
buffer:        unit0   			# Name of sync-feedback [mmu_buffer XXX] if fitted (can be shared with other mmu_units)
toolhead:      default			# Name of [mmu_toolhead XXX] associated with unit (defined in mmu.cfg, can be shared)
extruder_name: extruder			# Name of extruder that mmu_unit is attached to. Defaults to 'extruder'

# PER-GATE environment sensors (EMU style). 'environment_sensor'/'filament_heater' left empty.
# Length of the list MUST equal num_gates. These [temperature_sensor Lane_N] objects are defined elsewhere.
#
environment_sensors: temperature_sensor Lane_0,
                     temperature_sensor Lane_1,
                     temperature_sensor Lane_2,
                     temperature_sensor Lane_3,
                     temperature_sensor Lane_4,
                     temperature_sensor Lane_5,
                     temperature_sensor Lane_6,
                     temperature_sensor Lane_7

# MMU Kinematics
gear_steppers: unit0_gear, unit0_gear_1, unit0_gear_2, unit0_gear_3, unit0_gear_4, unit0_gear_5, unit0_gear_6, unit0_gear_7

# MMU Capabilities
selector_type: VirtualSelector
variable_bowden_lengths: 1		# 1 = If MMU design has different bowden lengths per gate, 0 = bowden length is the same
variable_rotation_distances: 1		# 1 = If MMU design has dissimilar drive/BMG gears, thus rotation distance, 0 = One drive gear (e.g. Tradrack)
require_bowden_move: 1			# 1 = If MMU design has bowden move that is included in load/unload, 0 = zero length bowden (skip bowden move)
filament_always_gripped: 1		# 1 = Filament is always trapped by MMU (most type-B designs), 0 = MMU can release filament
show_bypass: 1				# 1 = Force showing of bypass gate in UI (overruled if selector explicitly implements bypass)


# ┌──────────────────────────────────────────────────────────────────────────────────────────────┐
# │ ██████╗ ███████╗ █████╗ ██████╗     ███████╗████████╗███████╗██████╗ ██████╗ ███████╗██████╗ │
# │██╔════╝ ██╔════╝██╔══██╗██╔══██╗    ██╔════╝╚══██╔══╝██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗│
# │██║  ███╗█████╗  ███████║██████╔╝    ███████╗   ██║   █████╗  ██████╔╝██████╔╝█████╗  ██████╔╝│
# │██║   ██║██╔══╝  ██╔══██║██╔══██╗    ╚════██║   ██║   ██╔══╝  ██╔═══╝ ██╔═══╝ ██╔══╝  ██╔══██╗│
# │╚██████╔╝███████╗██║  ██║██║  ██║    ███████║   ██║   ███████╗██║     ██║     ███████╗██║  ██║│
# │ ╚═════╝ ╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝    ╚══════╝   ╚═╝   ╚══════╝╚═╝     ╚═╝     ╚══════╝╚═╝  ╚═╝│
# └──────────────────────────────────────────────────────────────────────────────────────────────┘
#
[tmc2209 mmu_stepper unit0_gear]
uart_pin: lane0:MMU_GEAR_UART
run_current: 0.9
hold_current: 0.10
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0

[mmu_stepper unit0_gear]
step_pin: lane0:MMU_GEAR_STEP
dir_pin: !lane0:MMU_GEAR_DIR
enable_pin: !lane0:MMU_GEAR_ENABLE
rotation_distance: 22.725		# OVERRIDDEN by calibrated 'mmu_*_gear_rotation_distances' in mmu_vars.cfg
gear_ratio: 1:1
microsteps: 4
full_steps_per_rotation: 200

# Filament Drive Gear_1 --------------------------
[tmc2209 mmu_stepper unit0_gear_1]
uart_pin: lane1:MMU_GEAR_UART
[mmu_stepper unit0_gear_1]
step_pin: lane1:MMU_GEAR_STEP
dir_pin: lane1:MMU_GEAR_DIR
enable_pin: !lane1:MMU_GEAR_ENABLE

# Filament Drive Gear_2 --------------------------
[tmc2209 mmu_stepper unit0_gear_2]
uart_pin: lane2:MMU_GEAR_UART
[mmu_stepper unit0_gear_2]
step_pin: lane2:MMU_GEAR_STEP
dir_pin: lane2:MMU_GEAR_DIR
enable_pin: !lane2:MMU_GEAR_ENABLE

# Filament Drive Gear_3 --------------------------
[tmc2209 mmu_stepper unit0_gear_3]
uart_pin: lane3:MMU_GEAR_UART
[mmu_stepper unit0_gear_3]
step_pin: lane3:MMU_GEAR_STEP
dir_pin: lane3:MMU_GEAR_DIR
enable_pin: !lane3:MMU_GEAR_ENABLE

# Filament Drive Gear_4 --------------------------
[tmc2209 mmu_stepper unit0_gear_4]
uart_pin: lane4:MMU_GEAR_UART
[mmu_stepper unit0_gear_4]
step_pin: lane4:MMU_GEAR_STEP
dir_pin: lane4:MMU_GEAR_DIR
enable_pin: !lane4:MMU_GEAR_ENABLE

# Filament Drive Gear_5 --------------------------
[tmc2209 mmu_stepper unit0_gear_5]
uart_pin: lane5:MMU_GEAR_UART
[mmu_stepper unit0_gear_5]
step_pin: lane5:MMU_GEAR_STEP
dir_pin: lane5:MMU_GEAR_DIR
enable_pin: !lane5:MMU_GEAR_ENABLE

# Filament Drive Gear_6 --------------------------
[tmc2209 mmu_stepper unit0_gear_6]
uart_pin: lane6:MMU_GEAR_UART
[mmu_stepper unit0_gear_6]
step_pin: lane6:MMU_GEAR_STEP
dir_pin: lane6:MMU_GEAR_DIR
enable_pin: !lane6:MMU_GEAR_ENABLE

# Filament Drive Gear_7 --------------------------
[tmc2209 mmu_stepper unit0_gear_7]
uart_pin: lane7:MMU_GEAR_UART
[mmu_stepper unit0_gear_7]
step_pin: lane7:MMU_GEAR_STEP
dir_pin: lane7:MMU_GEAR_DIR
enable_pin: !lane7:MMU_GEAR_ENABLE

# ┌─────────────────────────────────────────────────────────────┐
# │ ███████╗███████╗███╗   ██╗███████╗ ██████╗ ██████╗ ███████╗ │
# │ ██╔════╝██╔════╝████╗  ██║██╔════╝██╔═══██╗██╔══██╗██╔════╝ │
# │ ███████╗█████╗  ██╔██╗ ██║███████╗██║   ██║██████╔╝███████╗ │
# │ ╚════██║██╔══╝  ██║╚██╗██║╚════██║██║   ██║██╔══██╗╚════██║ │
# │ ███████║███████╗██║ ╚████║███████║╚██████╔╝██║  ██║███████║ │
# │ ╚══════╝╚══════╝╚═╝  ╚═══╝╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝ │
# └─────────────────────────────────────────────────────────────┘
#
[mmu_sensors unit0]
mmu_entry_switch_pin_0: ^lane0:MMU_PRE_GATE
mmu_entry_switch_pin_1: ^lane1:MMU_PRE_GATE
mmu_entry_switch_pin_2: ^lane2:MMU_PRE_GATE
mmu_entry_switch_pin_3: ^lane3:MMU_PRE_GATE
mmu_entry_switch_pin_4: ^lane4:MMU_PRE_GATE
mmu_entry_switch_pin_5: ^lane5:MMU_PRE_GATE
mmu_entry_switch_pin_6: ^lane6:MMU_PRE_GATE
mmu_entry_switch_pin_7: ^lane7:MMU_PRE_GATE

mmu_exit_switch_pin_0: ^lane0:MMU_POST_GEAR
mmu_exit_switch_pin_1: ^lane1:MMU_POST_GEAR
mmu_exit_switch_pin_2: ^lane2:MMU_POST_GEAR
mmu_exit_switch_pin_3: ^lane3:MMU_POST_GEAR
mmu_exit_switch_pin_4: ^lane4:MMU_POST_GEAR
mmu_exit_switch_pin_5: ^lane5:MMU_POST_GEAR
mmu_exit_switch_pin_6: ^lane6:MMU_POST_GEAR
mmu_exit_switch_pin_7: ^lane7:MMU_POST_GEAR

register_mmu_sensors: 1

# ┌──────────────────────────────────────────────────────────────┐
# │██████╗ ██╗   ██╗████████╗████████╗ ██████╗ ███╗   ██╗███████╗│
# │██╔══██╗██║   ██║╚══██╔══╝╚══██╔══╝██╔═══██╗████╗  ██║██╔════╝│
# │██████╔╝██║   ██║   ██║      ██║   ██║   ██║██╔██╗ ██║███████╗│
# │██╔══██╗██║   ██║   ██║      ██║   ██║   ██║██║╚██╗██║╚════██║│
# │██████╔╝╚██████╔╝   ██║      ██║   ╚██████╔╝██║ ╚████║███████║│
# │╚═════╝  ╚═════╝    ╚═╝      ╚═╝    ╚═════╝ ╚═╝  ╚═══╝╚══════╝│
# └──────────────────────────────────────────────────────────────┘
#
# Optional eject buttons
#
[gcode_button unit0_eject_0]
pin: ^lane0:EJECT_BUTTON
press_gcode: MMU_EJECT UNIT=unit0 LGATE=0

[gcode_button unit0_eject_1]
pin: ^lane1:EJECT_BUTTON
press_gcode: MMU_EJECT UNIT=unit0 LGATE=1

[gcode_button unit0_eject_2]
pin: ^lane2:EJECT_BUTTON
press_gcode: MMU_EJECT UNIT=unit0 LGATE=2

[gcode_button unit0_eject_3]
pin: ^lane3:EJECT_BUTTON
press_gcode: MMU_EJECT UNIT=unit0 LGATE=3

[gcode_button unit0_eject_4]
pin: ^lane4:EJECT_BUTTON
press_gcode: MMU_EJECT UNIT=unit0 LGATE=4

[gcode_button unit0_eject_5]
pin: ^lane5:EJECT_BUTTON
press_gcode: MMU_EJECT UNIT=unit0 LGATE=5

[gcode_button unit0_eject_6]
pin: ^lane6:EJECT_BUTTON
press_gcode: MMU_EJECT UNIT=unit0 LGATE=6

[gcode_button unit0_eject_7]
pin: ^lane7:EJECT_BUTTON
press_gcode: MMU_EJECT UNIT=unit0 LGATE=7

# ┌────────────────────────────────┐
# │██╗     ███████╗██████╗ ███████╗│
# │██║     ██╔════╝██╔══██╗██╔════╝│
# │██║     █████╗  ██║  ██║███████╗│
# │██║     ██╔══╝  ██║  ██║╚════██║│
# │███████╗███████╗██████╔╝███████║│
# │╚══════╝╚══════╝╚═════╝ ╚══════╝│
# └────────────────────────────────┘
#
# Per-lane neopixels (5 LEDs each: 1-4 on the eject button, 5 in the box)
#
[neopixel _lane0_leds]
pin: lane0:MMU_NEOPIXEL
chain_count: 5
color_order: GRBW

[neopixel _lane1_leds]
pin: lane1:MMU_NEOPIXEL
chain_count: 5
color_order: GRBW

[neopixel _lane2_leds]
pin: lane2:MMU_NEOPIXEL
chain_count: 5
color_order: GRBW

[neopixel _lane3_leds]
pin: lane3:MMU_NEOPIXEL
chain_count: 5
color_order: GRBW

[neopixel _lane4_leds]
pin: lane4:MMU_NEOPIXEL
chain_count: 5
color_order: GRBW

[neopixel _lane5_leds]
pin: lane5:MMU_NEOPIXEL
chain_count: 5
color_order: GRBW

[neopixel _lane6_leds]
pin: lane6:MMU_NEOPIXEL
chain_count: 5
color_order: GRBW

[neopixel _lane7_leds]
pin: lane7:MMU_NEOPIXEL
chain_count: 5
color_order: GRBW

[mmu_leds unit0]
exit_leds:
  neopixel:_lane0_leds (1,2,3,4)
  neopixel:_lane1_leds (1,2,3,4)
  neopixel:_lane2_leds (1,2,3,4)
  neopixel:_lane3_leds (1,2,3,4)
  neopixel:_lane4_leds (1,2,3,4)
  neopixel:_lane5_leds (1,2,3,4)
  neopixel:_lane6_leds (1,2,3,4)
  neopixel:_lane7_leds (1,2,3,4)
entry_leds:
  neopixel:_lane0_leds (5)
  neopixel:_lane1_leds (5)
  neopixel:_lane2_leds (5)
  neopixel:_lane3_leds (5)
  neopixel:_lane4_leds (5)
  neopixel:_lane5_leds (5)
  neopixel:_lane6_leds (5)
  neopixel:_lane7_leds (5)
status_leds:
logo_leds:
frame_rate: 15

enabled:       True
animation:     True
exit_effect:   gate_status
entry_effect:  filament_color
status_effect: off
logo_effect:   (0, 0, 0)
white_light:   (1, 1, 1)
black_light:   (1, 1, 1)
empty_light:   (0, 0, 0)

# Action effects (must exist in [mmu_led_effect ...] set defined in mmu.cfg / mmu_leds.cfg).
effect_loading:            mmu_blue_clockwise_fast, (0, 0, 0.4)
effect_loading_extruder:   mmu_blue_clockwise_slow, (0, 0, 1)
effect_unloading:          mmu_blue_anticlock_fast, (0, 0, 0.4)
effect_unloading_extruder: mmu_blue_anticlock_slow, (0, 0, 1)
effect_heating:            mmu_breathing_red,       (0.3, 0, 0)
effect_selecting:          mmu_white_fast,          (0.2, 0.2, 0.2)
effect_checking:           mmu_white_fast,          (0.8, 0.8, 0.8)
effect_initialized:        mmu_rainbow,             (0.5, 0.2, 0)
effect_error:              mmu_strobe,              (1, 0, 0)
effect_complete:           mmu_sparkle,             (0.3, 0.3, 0.3)
effect_gate_selected:      mmu_static_blue,         (0, 0, 1)
effect_gate_available:     mmu_static_green,        (0.3, 0.3, 0.3)
effect_gate_available_sel: mmu_ready_green,         (0.75, 0.75, 0.75)
effect_gate_unknown:       mmu_static_orange,       (0.5, 0.2, 0)
effect_gate_unknown_sel:   mmu_ready_orange,        (0.75, 0.3, 0)
effect_gate_empty:         mmu_static_black,        (0, 0, 0)
effect_gate_empty_sel:     mmu_ready_orange2,       (0.2, 0, 0)



# ┌───────────────────────────────────────────────────┐
# │ ██████╗ ██╗   ██╗███████╗███████╗███████╗██████╗  │
# │ ██╔══██╗██║   ██║██╔════╝██╔════╝██╔════╝██╔══██╗ │
# │ ██████╔╝██║   ██║█████╗  █████╗  █████╗  ██████╔╝ │
# │ ██╔══██╗██║   ██║██╔══╝  ██╔══╝  ██╔══╝  ██╔══██╗ │
# │ ██████╔╝╚██████╔╝██║     ██║     ███████╗██║  ██║ │
# │ ╚═════╝  ╚═════╝ ╚═╝     ╚═╝     ╚══════╝╚═╝  ╚═╝ │
# └───────────────────────────────────────────────────┘

[mmu_buffer unit0]
buffer_range: 16		# Travel between compression/tension (or one sensor and end)
buffer_maxrange: 16		# Absolute max end-to-end travel (mm)

tension_pin:
compression_pin:

# Proportional sync feedback sensor (the PSF analog sensor)
#
analog_pin: lane0:MMU_TH		# ADC pin where the proportional filament pressure sensor is installed
analog_max_compression: 1.0000		# Raw reading at max compression (buffer squeezed)
analog_max_tension:     0.1107		# Raw reading at max tension (buffer expanded)
analog_neutral_point:   0.5553		# Biasing of neutral point (sensor value 0)

register_buffer_sensors: 1

# ┌──────────────────────────────────────────────────────────────────────────────────────────────────────┐
# │ ███╗   ███╗██╗███████╗ ██████╗    ██╗  ██╗ █████╗ ██████╗ ██████╗ ██╗    ██╗ █████╗ ██████╗ ███████╗ │
# │ ████╗ ████║██║██╔════╝██╔════╝    ██║  ██║██╔══██╗██╔══██╗██╔══██╗██║    ██║██╔══██╗██╔══██╗██╔════╝ │
# │ ██╔████╔██║██║███████╗██║         ███████║███████║██████╔╝██║  ██║██║ █╗ ██║███████║██████╔╝█████╗   │
# │ ██║╚██╔╝██║██║╚════██║██║         ██╔══██║██╔══██║██╔══██╗██║  ██║██║███╗██║██╔══██║██╔══██╗██╔══╝   │
# │ ██║ ╚═╝ ██║██║███████║╚██████╗    ██║  ██║██║  ██║██║  ██║██████╔╝╚███╔███╔╝██║  ██║██║  ██║███████╗ │
# │ ╚═╝     ╚═╝╚═╝╚══════╝ ╚═════╝    ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝  ╚══╝╚══╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝ │
# └──────────────────────────────────────────────────────────────────────────────────────────────────────┘
#
# Define any additional hardware for this MMU unit, e.g. heaters, enclosure temperature probes, etc
#
# EXCLUDE FROM CONFIG BUILDER -- IMPORTANT do not alter or remove this line. Config below is never upgraded
#
