#####################################################################
# 	Z Homing, QGL and Bed Mesh Settings
#####################################################################
[scanner]
canbus_uuid: 04d755bd55bc    
speed: 10.0
lift_speed: 7.0
backlash_comp: 0.01439
x_offset: 0.0
y_offset: 21.1   
calibration_method: touch 
mesh_main_direction: x
mesh_cluster_size: 1
mesh_runs: 2

sensor: cartographer
sensor_alt: carto

scanner_touch_max_speed: 5
scanner_touch_speed: 1.5
scanner_touch_max_retries: 20
scanner_touch_sample_count: 6
scanner_touch_tolerance: 0.009
scanner_touch_retract_dist: 2.0
scanner_touch_max_temp: 170

#scanner_touch_z_offset: 0.11 #z offset for textured bed: -0.055

scanner_touch_z_offset: 0.095
#Zoffset for textured bed: -0.05

[quad_gantry_level]
gantry_corners:
	-60,-10
	410,420
points:
	30,8.9
	30, 298.9
	320,298.9
	320,8.9
speed: 400
horizontal_move_z: 15
retries: 50
retry_tolerance: 0.0035
max_adjust: 10


[bed_mesh]
zero_reference_position: 175, 175
speed: 180
#horizontal_move_z: 3
horizontal_move_z: 0
mesh_min: 16,28
mesh_max: 334,332
#probe_count: 27,27
probe_count: 15,15
algorithm: bicubic
bicubic_tension: 0.2
#fade_start: 0.6
#fade_end: 10
